#projects {
    background-color: rgb(255, 255, 255);
    color: var(--light);
    padding-top: 1rem;
    text-align: center;
    font-size: .75rem;
}

.proj-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
}
.card {
    display: flex;
    align-items: flex-start ;
    background-color: rgb(244, 246, 249);
    margin: 10px 0 20px 0;
    border: 3px solid rgb(248, 249, 250);
    border-radius: 10px;
    color: var(--light);
    min-height: 180px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.8);
}

.card-title {
    font-size: 1rem;
    margin-top: 1rem;
}

.card-body {
    display:inline;
    min-height: 16rem;
    padding: auto 8px;
}

#card-img {
    margin-top: 55px;
    max-height: 250px;
    border-radius: 9%;
}

.card-img-top {
    min-height: 13rem;
    max-width: 80%;
    margin: 5px 5px;
}

.card-text {
    font-size: 10px;
    margin: 1rem;
}

#deploy {
  color: aqua;
}

#git {
    color:rgb(255, 130, 20);
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
