/* Color Theme Swatches in Hex */
$Fabulous-Caucasus-Mountains-1-hex: #BEBABF;
$Fabulous-Caucasus-Mountains-2-hex: #171C26;
$Fabulous-Caucasus-Mountains-3-hex: #747C8C;
$Fabulous-Caucasus-Mountains-4-hex: #163A59;
$Fabulous-Caucasus-Mountains-5-hex: #122E40;

/* Color Theme Swatches in RGBA */
$Fabulous-Caucasus-Mountains-1-rgba: rgba(190,186,191, 1);
$Fabulous-Caucasus-Mountains-2-rgba: rgba(23,28,38, 1);
$Fabulous-Caucasus-Mountains-3-rgba: rgba(116,124,140, 1);
$Fabulous-Caucasus-Mountains-4-rgba: rgba(22,58,89, 1);
$Fabulous-Caucasus-Mountains-5-rgba: rgba(18,46,64, 1);