
.section {
    width: 100%;
}

#about-info {
    font-size: 18px;
    margin: 2rem 4rem !important;
}
#img-about {
    max-width: 45%;
    clip-path: circle(45%);
    align-items: center;
}

.about-text {
    display:block;
    justify-content: left;
    margin-top: 1.5rem !important;
    font-size: 14px;
    max-width: 75vh;
    color: black !important;
}

#icon {
    justify-content: space-between;
    max-width: 10%;
}