.contact {
    background-color: white;
    margin-top: 1rem;
}

#contact-info {
    background-color: lightblue;
    margin: 4rem 13rem;
    border: 1px solid white;
    border-radius: 5px;
}

.form-label {
    font-size: 0.75rem;
}
