
#contact-info {
    margin: 2rem 13rem;
    border: 1px solid white;
    border-radius: 5px;
}

.form-label {
    font-size: 0.75rem;
}

.feature-icon {
    font-size: 2rem;
    margin: 0;
}

a {
    color:rgb(3, 183, 186);
}

h4 {
    color:black !important;
}
.contact-card {
    max-width: 24rem;
    background-color: rgba(255, 255, 255, 0.95) !important;
    opacity: 0.75;
    z-index: 9;
}
.contact {
    margin-top: 2rem;
}
.card-header {
font-size: 30px;
font-weight: 700;
text-align: center;
}
.contact-card:hover {
opacity: 1.0;
}